<div class="calcul">
  <div class="calculator"><br>
    <h1 id="head">Calculator</h1>
    <div class="display">{{ display }}</div>
    <div class="buttons">
      <button (click)="onNumberClick('7')">7</button>
      <button (click)="onNumberClick('8')">8</button>
      <button (click)="onNumberClick('9')">9</button>
      <button (click)="onOperationClick('/')">÷</button><br>
      <button (click)="onNumberClick('4')">4</button>
      <button (click)="onNumberClick('5')">5</button>
      <button (click)="onNumberClick('6')">6</button>
      <button (click)="onOperationClick('*')">x</button><br>
      <button (click)="onNumberClick('1')">1</button>
      <button (click)="onNumberClick('2')">2</button>
      <button (click)="onNumberClick('3')">3</button>
      <button (click)="onOperationClick('-')">-</button><br>
      <button (click)="onNumberClick('0')">0</button>
      <button (click)="onOperationClick('+')">+</button>
      <button (click)="onClearClick()">C</button>
      <button (click)="onEqualsClick()">=</button>
    </div>
  </div>
</div>
